@import "../../sass/variable.scss";

.start-page {
    height: 100vh;
    background: url("/assets/full-bg.jpg") no-repeat center/cover;
    display: flex;
    flex-direction: column;
}

.title {
    position: relative;
    margin: 2% 0 20% 2%;

    .title__logo {
        margin: 10px;
        width: 58%;
        max-width: 450px;
    }

    .title__subtitle {
        position: absolute;
        bottom: -10px;
        right: 0;
        width: 62%;
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
        font-family: $mainFont;
        text-align: left;
        padding: 3px 0 3px 8%;
        background-color: $transpWhite;
        border-radius: 25px 0 0 25px;
    }
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    max-width: 400px;
    height: 300px;
    margin: 50px 10%;

    .btn-group__button {
        font-size: 20px;
        font-family: $mainFont;
        font-weight: 600;
        text-transform: uppercase;
        padding: 20px 25px;
        border: solid 5px $green;
        border-radius: 25px;
        background-color: $transpWhite;

        &:hover,
        &:focus {
            background-color: $white;
        }

        &:active {
            transform: scale(0.9);
        }
    }
}

