@import "../../sass/variable.scss";

.start-page {
    height: 100vh;
    background: url("/assets/full-bg.jpg") no-repeat center/cover;
    display: flex;
    flex-direction: column;
}

.title {
    position: relative;
    // margin-bottom: 85px;
    height: 60vh;
    

    .title__logo {
        margin: 10px;
        width: 50%;
        max-width: 250px;
    }

    .title__subtitle {
        position: absolute;
        right: 0;
        top: 140px;
        width: 62%;
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
        font-family: $mainFont;
        text-align: left;
        padding: 3px 0 3px 8%;
        background-color: $transpWhite;
        border-radius: 25px 0 0 25px;
    }
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 500px;
    height: 30vh;
    flex-grow: 1;
    margin: 0 10%;
    align-items: stretch;

    .btn-group__button {
        font-size: 20px;
        font-family: $mainFont;
        font-weight: 600;
        color: $black;
        text-transform: uppercase;
        padding: 2vh 0;
        border: solid 5px $green;
        border-radius: 25px;
        background-color: $transpWhite;
        transition: background-color ease-in-out 0.8s;
         
        &:hover,
        &:focus {
            background-color: $white;
        }

        &:active {
            transform: scale(0.9);
        }
    }
}

