@import "./sass/variable.scss";
@import '~react-toastify/dist/ReactToastify.min.css';

.app {
  color: $black;
  background-color: $white;
  font-size: 16px;
  font-family: $mainFont;
  position: relative;
  min-height: 100vh;
}