//fonts
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

$mainFont: 'Source Sans Pro', sans-serif;
$logoFont: 'Great Vibes', cursive;

// colors
$white: rgba(242, 242, 242, 1);
$transpWhite: rgba(242, 242, 242, 0.75);
$red: rgb(219, 28, 28);
$transpRed: rgba(212, 5, 5, 0.5);
$green: rgba(0, 128, 55, 1);
$black: rgba(22, 22, 22, 1);
$lightgreen: rgb(122, 214, 106);

