@import "../../sass/variable.scss";
@import "../../sass/mixins.scss";

.container {
    height: 100%;
    width: 100%;
    .redirection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem auto 2rem auto;
        .redirection__description {
            font-style: italic;
            text-align: center;
        }
        .redirection__button {
            @include standard-btn($red, rgb(255, 152, 152));
        }
    }
}
