@import "../../sass/variable.scss";

.navigation {
    list-style: none;
    display: flex;
    align-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    .navigation__link {
        color: $green;
        line-height: 70px;
        font-size: 1.25rem;
        text-transform: uppercase;
        text-decoration: none;
        margin: 3px 10px;
        &--active,
        &:hover {
            border-bottom: solid 3px $lightgreen;
        }
    }
    &.navigation--mobile {
        flex-direction: column;
        align-items: flex-start;
        border-top: solid 3px $green;
        margin-top: 70px;
        padding-left: 50px;
        .navigation__link {
            font-size: 1.75rem;
            letter-spacing: 0.2rem;
            padding: 10px 15px;
            &--active,
            &:hover {
                border-bottom: none;
                border-left: solid 5px $lightgreen;
                padding-left: 10px;
            }
        }
    }
}

@media screen and (max-device-width: 700px) and (orientation: landscape) {
    .navigation {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: start;
        &.navigation--mobile {
            padding-right: 50px;
        }
    }
}
