@import "../../sass/variable.scss";
@import "../../sass/fontawesome/fontawesome.scss";
@import "../../sass/fontawesome/solid.scss";
$fa-font-path: "/assets/webfonts";

.menu-el {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    padding: 0;
    margin: 1rem auto 3rem auto;

    .select-pizza {
        width: 100%;
        margin: 8px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .add-btn {
        width: 100%;
        height: 50px;
        margin: 8px auto;
    }
}

.info {
    .info__name {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin: 0.5rem 0;
    }

    .info__ingredients {
        font-style: italic;
        font-size: 15px;
        margin: 0.5rem 0 0.5rem 2rem;
    }
}

.custom-select {
    width: 90%;
    display: inline-block;
    position: relative;

    &::after {
        content: fa-content($fa-var-chevron-down);
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        color: $green;
        position: absolute;
        display: inline-block;
        right: 0;
        top: calc(50%-7px);
        line-height: 50px;
        margin-right: 14px;
        pointer-events: none;
    }

    &:active {
        &::after {
            content: fa-content($fa-var-chevron-up);
            color: $lightgreen;
        }
    }
}

.custom-select__select-size {
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: solid 1px $green;
    padding: 7px 40px 7px 7px;
    background: $white;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    font-size: 15px;
    text-indent: 10px;

    &:hover,
    &:focus {
        border-color: $lightgreen;
    }
}

/* MEDIA QUERIES */

@media screen and (min-width: 481px) {
    .menu-el {
        .select-pizza {
            flex-direction: row;
            align-items: center;
        }
        .add-btn {
            width: 35%;
        }
        .custom-select {
            width: 57%;
        }
    }
}

@media screen and (min-width: 780px) {
    .menu-el {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .info {
            width: 100%;
            margin-right: 1rem;
        }
        .select-pizza {
            flex-direction: column;
            align-content: space-between;

            .custom-select {
                width: 100%;
            }
            .add-btn {
                width: 100%;
                margin: 8px 0;
            }
        }
    }
}

@media screen and (min-width: 1020px) {
    .menu-el {
        width: 80%;
        align-items: flex-start;
        .info {
            width: 90%;
            margin-right: 2rem;
        }
        .select-pizza {
            flex-direction: row;
            align-items: center;
            .add-btn {
                width: 35%;
            }
            .custom-select {
                width: 57%;
            }
        }
    }
}
