@import "../../sass/variable.scss";
@import "../../sass/mixins.scss";

@keyframes fadeIn { 
  0%   { opacity:0; }
  100% { opacity:1; }
}

.box {
  width: 280px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  border-radius: 15px;
  box-shadow: 0 0 6px $black;
  position: relative;
  overflow: hidden;
  animation: fadeIn 1s;

  .exit-btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border: none;
    margin: 0;
    background-color: transparent;
    z-index: 11;
    position: absolute;
    top: 0px;
    right: 0px;
    &:focus {
      border-radius: 5px;
      outline-color: $lightgreen;
    }
    .exit-btn__icon {
      font-size: 20px;
      color: $white;
    }
  }

  .top {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.5em;
    padding-bottom: 5em;

    &__back-drop {
      position: absolute;
      display: flex;
      flex-direction: column;
      border-radius: 40%;
      transform: rotate(60deg);
      top: -330px;
      left: -70px;
      background: $green;
      background: linear-gradient(75deg, $green 40%, $lightgreen 100%);
      width: 160%;
      height: 550px;
      transition: transform 0.5s linear;
      &--down {
        transform: scale(2.5);
        transition-timing-function: ease-out;
      }
    }

    &__header-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center;
      opacity: 1;
      transition: opacity 0.25s linear;
      &--down {
        opacity: 0;
      }
    }
    &__header {
      font-size: 27px;
      font-weight: 600;
      line-height: 1.24;
      color: $white;
      z-index: 10;
      margin: 0;
    }
    &__info {
      font-size: 10px;
      font-style: italic;
      z-index: 10;
      color: $white;
    }
  }

  .inner-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 300px;

    .question {
      display: inline-block;
    }

    .auth-form {
      display: flex;
      flex-direction: column;
      
      &__input {
        @include input-shape;
        margin-bottom: 5px;
        &--invalid {
          border-color: $red;
          &:focus {
            border-color: $red;
          }
        }
      }
    }  
    
    .error {
      font-size: 10px;
      color: $red;
      padding: 3px;
      margin: 1px 2px 10px 2px;
    }

    .switch {
      overflow: visible;
      border: none;
      cursor: pointer;
      align-self: flex-end;
      background-color: $white;
      &--muted {
        font-size: 0.75em;
        color: rgb(0, 0, 0, 0.35);
        margin-top: 15px;
        margin-bottom: 60px;
        &:hover {
          color: black;
        }
      }
      &--bold {
        font-size: 1em;
        color: $green;
        font-weight: 600;
        &:hover,
        &:active {
          color: $lightgreen;
        }
      }
    }
  }
}
