@import "../../sass/variable.scss";
@import "../../sass/mixins.scss";

.container--order {
    max-width: 1000px;
}
.basket {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.full-price {
    text-align: right;
}

.basket__row {
    width: 100%;
    border-bottom: 1px solid $black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    .basket__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .basket__name {
            width: 40%;
        }
        .basket__price,
        .basket__size,
        .basket__name {
            margin: 0.5rem 0;
        }
    }
    .basket__ingredients {
            font-weight: 400;
            font-size: 12px;
            margin-top: 0;
            margin-left: 1rem;
        }
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    height: 40px;
    max-width: 400px;
    .basket__button {
        width: 48%;
    }
}

.basket__button {
    @include standard-btn;
    &--delete,
    &--back {
        @include standard-btn($red, rgb(255, 152, 152));
    }
    &--delete {
        font-size: 20px;
        padding: 0 8px;
    }
}