@import "../../sass/variable.scss";

.navigation {
    list-style: none;
    display: flex;
    align-items: space-around;
    align-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    .navigation__link {
        color: $green;
        line-height: 70px;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-decoration: none;
        margin: 3px 10px;
        &--active,
        &:hover {
            border-bottom: solid 5px $lightgreen;
        }
    }
    .navigation__link--active {
        border-bottom: solid 5px $lightgreen;
    }
    &.navigation--mobile {
        flex-direction: column;
        align-items: flex-start;
        border-top: solid 3px $green;
        margin-top: 70px;
        padding-top: 20px;
        padding-left: 50px;
        .navigation__link {
            font-size: 2rem;
            letter-spacing: 0.2rem;
            margin: 10px;
            &--active {
                border-bottom: none;
                border-left: solid 5px $lightgreen;
            }
        }
    }
}

@mixin activeLink($border) {
    $border: solid 5px $lightgreen;
}
