@import '../../sass/variable.scss';

.navbar {
    height: 70px;
    background-color: $transpWhite;
    display: flex;
    justify-content: space-around;
    .navbar__logo {
        flex-grow: 1;
    }
    .navigation {
        height: 100vh;
        width: 100%;
        background-color: $white;
        position: absolute;
        z-index: 10;
    }
}