@import "../../sass/variable.scss";
@import "../../sass/mixins.scss";

.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 40px;
    .title__name {
        font-size: 2rem;
        font-family: $logoFont;
        color: $red;
        letter-spacing: 0.2rem;
    }
    .add-to-basket {
        display: flex;
        align-items: center;
        max-width: 300px;
        margin: 0 auto 3rem auto;

        .price {
            flex-grow: 1;
        }
        .add-btn {
            flex-grow: 3;
        }
    }
}

/* MEDIA QUERIES */

@media screen and (min-width: 780px) {
    .container {
        width: 95%;
    }
}

@media screen and (min-width: 1020px) {
    .container {
        width: 70%;
    }
}
