@import '../../sass/variable.scss';

.footer {
    text-align: center;
    font-size: 12px;
    margin: 0;
    color: $white;
    background-color: $green;
    height: 40px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0; 
    &__info {
        display: block;
        margin-top: auto;
        width: 100%;
        margin: 0;
        line-height: 40px;
    }
}
