@import "../../sass/variable.scss";

.location {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  &__info {
    align-self: center;
  }
  &__title {
    text-align: center;
    &--name {
      font-family: $logoFont;
      color: $red;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
  &__map {
    border: none;
    box-shadow: 10px 13px 19px -5px rgba(22, 22, 22, 0.44);
    margin: 20px 0;
    width: 100%;
    height: 300px;
  }
  &__address {
    display: inline-block;
    vertical-align: top;
  }
}

.icon {
  color: $red;
  margin-right: 10px;
}

.contact-form {
  padding: 20px 0;
}

/* MEDIA QUERIES */

@media screen and (min-width: 780px) {
  .location {
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
    &__info {
      width: 30%;
    }
    &__title {
      text-align: left;
      &--name {
        font-size: 1.6rem;
      }
    }
    &__map {
      width: 60%;
    }
  }
}

@media screen and (min-width: 1400px) {
  .location {
    width: 75%;
  }
}
