@import "../../sass/variable.scss";
@import "../../sass/mixins.scss";

.auth-form {
  display: flex;
  flex-direction: column;
  min-height: 50%;
  justify-content: space-between;
  
  &__input {
    @include input-shape;
    margin-bottom: 5px;
  }
}
