@import "./sass/variable.scss";

.app {
  color: $black;
  background-color: $white;
  font-size: 16px;
  font-family: $mainFont;
}


.basket {
  width: 500px;
  padding-left: 25px;
}

.basket-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: left;
}

.basket-info {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 25px;
  text-align: left;
}
