@import "../../sass/variable.scss";

.progress {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 0 0 -10px;
    padding: 10px;
    list-style: none;

}

.progress__step {
    display: inline-block;
    width: 33%;
    margin: 0 2px;
    position: relative;
    padding: 10px 10px 10px 20px;
    background-color: $green;
    color: $white;
    font-size: 14px;
    text-transform: uppercase;
    &::after,
    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 19px inset transparent;
        border-bottom: 19px inset transparent;
        position: absolute;
    }
    &::after {
        border-left: 10px solid $green;
        top: 0;
        right: -10px;
        z-index: 15;
    }

    &::before {
        border-left: 10px solid $white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

.progress__step--active {
    background-color: $red;
    &::after {
        border-left: 10px solid $red;
    }
}